/*****************
Header section
******************/
.App-header {
  justify-content: flex-start;
}

/*********************
Main content 
*********************/
.single-result {
  width: 47%;

  .result-content {
    min-height: 300px;
  }
}
