/*****************
Global section
******************/

body,
html {
  font-family: $body;
}

/*****************
Header section
******************/

.App-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $tur;
  a {
    display: block;
    min-width: 125px;
  }
  .App-logo {
    max-width: 125px;
    animation: App-logo-spin 15s linear infinite;
  }
  .App-title {
    color: $white;
    margin: 0;
    font-family: $title;
  }
}

/*********************
Main content 
*********************/
/* input section */
.form-control {
  border: 0;
  border-bottom: 2px solid $reactblue;
  color: $black;
  min-height: 40px;
  padding: 1em 0.5em;
  &:focus,
  &:active {
    outline: 3px solid $reactblue;
  }
}

.query-results {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.single-result {
  display: inline-block;
  width: 95%;
  margin: 1%;

  .result-content {
    height: 100%;
    padding: 2rem 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
