/*************************
Variables
**************************/

$title: "Shrikhand", cursive;
$body: "Exo 2", sans-serif;

/*************************
Colors
**************************/
$tur: #1c7b7f;
$lightblue: #37f6ff;
$reactblue: #61dafb;
$white: #fff;
$black: #000;
